<html>
<head>
  <title>TacoZMQ</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <style>
    body {
      padding-top: 48px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TacoZMQ</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
          <li><a href="/chat"><i class="glyphicon glyphicon-comment"></i> Chat</a></li>
          <li><a href="/transfers"><i class="glyphicon glyphicon-transfer"></i> Transfers</a></li>
          <li><a href="/search"><i class="glyphicon glyphicon-search"></i> Search</a></li>
          <li><a href="/browse"><i class="glyphicon glyphicon-folder-open"></i>&nbsp Browse</a></li>
          <li><a href="/settings"><i class="glyphicon glyphicon-edit"></i> Settings</a></li>
          <li><a href="/help"><i class="glyphicon glyphicon-info-sign"></i> Help</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-off"></i> Shutdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/shutdown">Confirm Shutdown</a></li>
            </ul>
          </li>
      </ul>
      </div>
    </div>
  </nav>
  <div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to TacoZMQ</h1>
    <p>Copy text here</p>
  </div>
  </div>

</body>
</html>

